body {
  background-color: black;
}
.timersect {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  min-height: 10vh;
  font-size: 100px;
}
.copy {
  color: rgb(248, 141, 1);
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.head {
  color: rgb(248, 141, 1);
  display: flex;
  justify-content: center;
  font-size: 50px;
}
